gap2seq=3.1.1a
mafft>=7.520
mummer4>=4.0.0rc1
muscle=3.8.1551
spades>=3.15.5
fastani>=1.34
mashtree>=1.4.6
sourmash-minimal>=4.8.6 ## see below
sourmash_plugin_branchwater>=0.9.1  ## running into resolver problems at least with our current version of python
skani>=0.2.1
khmer>=2.1,<3.0a0
kwip>=0.2.0 ## relies on khmer, which as of 2024-03-12 does not support python 3.10
# Python packages below
